@model Ankh_Morpork_MVC.Dtos.EventDto
@using Ankh_Morpork_MVC.Models
@{
    var character = (Clown)Model.Character;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Score: @Model.Score</p>

<h2>@character.Name of Clown's Guild</h2>
<h3>@character.MeetMessage</h3>
<p>Money: @Model.PlayerMoney</p>
<p></p>
<p>@character.Reward</p>
@using (Html.BeginForm("Accept", "Clowns", new { reward = character.Reward }))
{
    <button type="submit">Submit</button>
    @Html.ActionLink("Deny", "Deny", "Clowns", new { accept = false }, null)
}
